body {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}
.headerContainer{
    height: 30vh;
}
.logo {
    position: relative;
    bottom: -50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -307px;
}
header {
    text-align:center;
    color: #009933;
    bottom: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2em;
    letter-spacing:0.02em;
}
.socialIcon {
    height: 60px; 
}
.container {
    height: 70vh;
    margin-bottom: -96px;
    padding: 0px;
    margin: 0xp;
    font-size: 1.6em;
    width: 100%;
    background-color: #fff;
    
}
.textContainer{
    bottom: 0px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6em;
    letter-spacing:0.02em;
    color: #999999;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    background-color: #ff6699 ;
}
#mc_embed_signup input {
    font-size: 0.5em;
    width: 100%;
}
#mc_embed_signup button {
    width: 100%;
}
#mc_embed_signup{background:#fff; clear:left;
}
#mc-embedded-subscribe {
    font-family: "Ubuntu", sans-serif;
}
